<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        设置数据库的连接配置-->
        <property name="connection.url">jdbc:mysql://localhost:3306/demo?serverTimezone=GMT%2B8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">111111</property>
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
            <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>


<!--       配置数据库连接池 -->
        <property name="hibernate.c3p0.acquire_increment">10</property>
        <property name="hibernate.c3p0.idle_test_period">2000</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_statements">10</property>

<!--        数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<!--        打印SQL语句-->
        <property name="show_sql">true</property>

<!--        格式化sql语句-->
        <property name="format_sql">true</property>

            <mapping resource="com/zhaojie/Entity/Score.hbm.xml"></mapping>





    </session-factory>
</hibernate-configuration>